/*===Page colors===*/
$color-primary: #cbe346;
$color-secondary: #f3f4f8;
$color-white: #fefefe;
$color-black: #1e2335;

/*===Page headings===*/
$font-h1: 53px/68px Helvetica;
$font-h2: 50px/57px Helvetica;
$font-h3: 50px/64px Helvetica;

/*===Page texts===*/
$font-text1: 16px Helvetica;
$font-text2: 13px Helvetica;

/*===Breakpoints===*/
$breakpoint-phone: 600px;
$breakpoint-tablet: 992px;